<table class="table table-responsive">
  <tbody>
    <tr>
      <th><%= t('mongoid.models.profile') %></th>
      <td><%= @subscriber.profile.name %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.user.full_name') %></th>
      <td><%= @subscriber.user.full_name %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.models.category') %></th>
      <td><%= @subscriber.certificate.category.name %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.certificate.title') %></th>
      <td><%= @subscriber.certificate.title %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.certificate.initial_date') %></th>
      <td><%= l @subscriber.certificate.initial_date %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.certificate.final_date') %></th>
      <td><%= l @subscriber.certificate.final_date %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.certificate.workload') %></th>
      <td><%= @subscriber.certificate.workload %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.certificate.local') %></th>
      <td><%= @subscriber.certificate.local %></td>
    </tr>
  </tbody>
</table>

<%= link_to t('title.action.back'), new_validate_path, class: 'btn btn-secondary' %>
