<div class="row">
  <div class="col-md-3">
    <%= link_to "#{t('title.action.edit')} #{t('mongoid.attributes.user.full_name')}",
                edit_username_path(current_user),
                class: 'btn btn-primary' unless current_user.name_changed %>
  </div>
  <div class="col-md-9 d-flex justify-content-end">
    <%= render 'shared/paginate', pagy: @pagy %>
  </div>
</div>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th><%= t('mongoid.attributes.certificate.title') %></th>
      <th><%= t('mongoid.models.profile') %></th>
      <th><%= t('mongoid.attributes.certificate.initial_date') %></th>
      <th><%= t('mongoid.attributes.certificate.final_date') %></th>
      <th class="text-center"><%= t('mongoid.attributes.certificate.workload') %></th>
      <th><%= t('mongoid.attributes.certificate.local') %></th>
      <th width="10%" class="text-center"><%= t('title.action.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |subscriber| %>
      <tr>
        <td><%= subscriber.certificate.title %></td>
        <td><%= subscriber.profile.name %></td>
        <td><%= subscriber.certificate.initial_date %></td>
        <td><%= subscriber.certificate.final_date %></td>
        <td class="text-center"><%= subscriber.certificate.workload %></td>
        <td><%= subscriber.certificate.local %></td>
        <td class="text-center">
          <%= link_to t('title.action.generate'),
                      issue_path(subscriber), id: "generate_#{subscriber.id}",
                      class: 'btn btn-primary', method: :patch %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
