<div class="row">
  <div class="col-md-2">
    <%= link_to "#{t('title.action.new')} #{t('mongoid.models.template')}", new_template_path, class: 'btn btn-primary' %>
  </div>
  <div class="col-md-10 d-flex justify-content-end">
    <%= render 'shared/paginate', pagy: @pagy %>
  </div>
</div>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th width="40%"><%= t('mongoid.attributes.template.name') %></th>
      <th width="15%"><%= t('mongoid.attributes.template.font_color') %></th>
      <th width="10%" class="text-center"><%= t('mongoid.attributes.template.image') %></th>
      <th width="20%" class="text-center"><%= t('title.action.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |template| %>
      <tr>
        <td><%= template.name %></td>
        <td><span class="badge" style="color: <%= template.font_color %>"><%= template.font_color %></span></td>
        <td class="text-center"><%= show_image(template, template.name) %></td>
        <td class="text-center">
          <%= link_to t('title.action.show'), template, class: 'btn btn-primary' %>
          <%= link_to t('title.action.edit'), edit_template_path(template), class: 'btn btn-primary' %>
          <%= link_to t('title.action.destroy'), template, class: 'btn btn-danger', method: :delete, data: { confirm: t('title.action.are_you_sure') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
