<table class="table table-responsive">
  <tbody>
    <tr>
      <th><%= t('mongoid.attributes.template.name') %></th>
      <td><%= @template.name %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.template.font_color') %></th>
      <td><span class="badge" style="color: <%= @template.font_color %>"><%= @template.font_color %></span></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.template.image') %></th>
      <td><%= show_image(@template, @template.name, '450x250') %></td>
    </tr>
  </tbody>
</table>

<%= link_to t('title.action.edit'), edit_template_path(@template), class: 'btn btn-primary' %>
<%= link_to t('title.action.back'), templates_path, class: 'btn btn-default' %>
