<table class="table table-responsive">
  <tbody>
    <tr>
      <th><%= t('mongoid.attributes.credit.quantity') %></th>
      <td><%= @credit.quantity %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.credit.price') %></th>
      <td><%= number_with_precision(@credit.price, precision: 2) %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.credit.total') %></th>
      <td><%= number_with_precision(@credit.price * @credit.quantity, precision: 2) %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.credit.gateway') %></th>
      <td><%= @credit.gateway %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.credit.method') %></th>
      <td><%= PagseguroCodes.method(@credit.method) %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.credit.created_at') %></th>
      <td><%= I18n.l(@credit.created_at, format: :datetime) %></td>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.credit.status') %></th>
      <td><%= PagseguroCodes.status(@credit.status) %></td>
    </tr>
    <% unless @credit.paid_at.nil? %>
    <tr>
      <th><%= t('mongoid.attributes.credit.paid_at') %></th>
      <td><%= I18n.l(@credit.paid_at, format: :datetime) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th colspan="2"><%= t('mongoid.models.history') %></th>
    </tr>
    <tr>
      <th><%= t('mongoid.attributes.history.created_at') %></th>
      <th><%= t('mongoid.attributes.history.status') %></th>
    </tr>
  </thead>

  <tbody>
    <% @credit.histories.order(created_at: :asc).each do |history| %>
      <tr>
        <td><%= I18n.l(history.created_at, format: :datetime) %></td>
        <td><%= PagseguroCodes.status(history.status) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('title.action.back'), credits_path, class: 'btn btn-default' %>
