<h1><%= t('title.action.new2') + ' ' + t('mongoid.models.subscriber') %></h1>
<h2><%= @certificate.category.name %>: <%= @certificate.title %></h2>

<%= render 'form', url: certificate_subscribers_path(@certificate) %>

<%= link_to t('title.action.back'), certificate_path(@certificate), class: 'btn btn-default' %>
