<%= simple_form_for(@certificate) do |f| %>
  <div class="form-inputs">
    <%= f.association :template %>
    <%= f.association :category %>
    <%= f.input :title %>
    <%= f.input :initial_date%>
    <%= f.input :final_date %>
    <%= f.input :workload %>
    <%= f.input :local %>
    <%= f.input :site %>

    <%= f.input :image_cache, as: :hidden %>
    <%= f.input :image, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
