<%= simple_form_for(@certificate) do |f| %>
  <%= f.input :template_id, collection: current_user.templates.order(name: :asc), autofocus: true, input_html: { class: 'form-select' } %>
  <%= f.input :category_id, collection: @categories, input_html: { class: 'form-select' } %>
  <%= f.input :title %>
  <%= f.input :initial_date, input_html: { class: 'date' } %>
  <%= f.input :final_date, input_html: { class: 'date' } %>
  <%= f.input :workload %>
  <%= f.input :local %>

  <div class="card">
    <div class="card-header bg-success text-white"><%= t('hint.title.certificate') %></div>
    <div class="card-body">
      <%= f.input :site, as: :url, placeholder: t('hint.site') %>

      <%= show_image(@certificate, @certificate.title) %>
      <%= f.input :image_cache, as: :hidden %>
      <%= f.input :image, as: :file, hint: t('hint.image', size: '300x150'), input_html: { class: 'form-control' } %>

      <% if @certificate.title? %>
        <%= f.check_box :remove_image %>
        <%= label_tag "certificate_remove_image", "#{t('title.action.destroy')} #{t('mongoid.attributes.certificate.image')}" %>
      <% end %>
    </div>
  </div>

  <hr/>
  <%= f.button :submit, class: 'btn btn-primary btn-submit' %>
  <%= link_to t('title.action.back'), certificates_path, class: 'btn btn-secondary' %>
<% end %>
