<%= link_to "#{t('title.action.new')} #{t('mongoid.models.certificate')}", new_certificate_path, class: 'btn btn-primary' %>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th><%= t('mongoid.models.category') %></th>
      <th><%= t('mongoid.attributes.certificate.title') %></th>
      <th><%= t('mongoid.models.template') %></th>
      <th><%= t('mongoid.attributes.certificate.initial_date') %></th>
      <th><%= t('mongoid.attributes.certificate.final_date') %></th>
      <th><%= t('mongoid.attributes.certificate.workload') %></th>
      <th><%= t('mongoid.attributes.certificate.image') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certificates.each do |certificate| %>
      <tr>
        <td><%= certificate.category.name %></td>
        <td><%= certificate.title %></td>
        <td><%= certificate.template.name %></td>
        <td><%= certificate.initial_date %></td>
        <td><%= certificate.final_date %></td>
        <td><%= certificate.workload %></td>
        <td><%= cl_image_tag(certificate.image, width: 50, height: 50) %></td>
        <td><%= link_to t('title.action.show'), certificate, class: 'btn btn-info' %></td>
        <td><%= link_to t('title.models.subscribers'), certificate_subscribers_path(certificate), class: 'btn btn-warning' %></td>
        <td><%= link_to t('title.action.edit'), edit_certificate_path(certificate), class: 'btn btn-success' %></td>
        <td><%= link_to t('title.action.destroy'), certificate, class: 'btn btn-danger', method: :delete, data: { confirm: t('title.action.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
